svg.logo
  width: 200px
  height: 46px
  position: relative
  z-index: 10
  cursor: pointer
  .logo-circle
    transition: fill .3s
    fill: #0000fe
    circle
      transition: fill .3s
      fill: #0000fe
  .logo-text > *
    transition: fill .3s, opacity .3s
    //fill: #231f20
    fill: #0000fe
    opacity: 0

.intro svg.logo .logo-text > *
  opacity: 1

svg.logo.logo-white
  .logo-circle
    fill: #fff
    circle
      fill: #fff
  .logo-text > *
    fill: #fff

body
  &.__intro:not(.__fade_in_nav)
    .navbar-custom .navbar-header svg.logo
      .logo-circle
        fill: #fff !important
        circle
          fill: #fff !important
      .logo-text > *
        fill: #fff !important
    .navbar-toggle
      color: #fff
  &.home.__intro svg.logo .logo-text > *
    opacity: 1
  &.is-open
    @media (max-width: 768px)
      .navbar-header
        position: relative
        z-index: 999
      .navbar-custom .navbar-header svg.logo
        .logo-circle
          fill: #0000fe !important
          circle
            fill: #0000fe !important

@media (min-width: 768px)
  svg.logo
    width: 41rem
    height: 9.5rem
/*svg.logo .logo-text > * {
 *    opacity: 1;
 *}

.navbar-header
  position: relative
  z-index: 100

.navbar-brand
  cursor: default

  svg
    transition: opacity .3s

  span
    will-change: transform
    display: block
    transform: scale(1)
    opacity: 0
    background: #0000a0
    //box-shadow: 0 0 1rem 1rem #0000a0
    position: absolute
    left: 2.5em
    top: 38%
    border-radius: 50%
    width: 2em
    height: 2em
    font-size: 100px
    transition: transform .7s linear, background .7s linear, box-shadow .7s linear, opacity 1s 0s
    z-index: 150
    cursor: default
    //animation-duration: .7s
    //animation-timing-function: linear
    //animation-iteration-count: 1
    //animation-fill-mode: both
    //animation-direction: normal
    pointer-events: none
  &.__anim span
    transition: transform .7s linear, background .7s linear, box-shadow .7s linear, opacity 0s .1s
    //animation-name: logo_anim
    transform: scale(80)
    opacity: 1
    box-shadow: 0 0 1rem 1rem #0000fe
    //box-shadow: 0 0 1px 5px #0000fe
    background: #0000fe

    .__skip-circle &
      transform: scale(1)
      opacity: 0
      box-shadow: none

//html
  &:before
    content: ''
    will-change: transform
    display: block
    transform: scale(1)
    opacity: 0
    background: #0000a0
    //box-shadow: 0 0 1rem 1rem #0000a0
    position: fixed
    left: 4rem
    top: 7rem
    border-radius: 100%
    width: 2rem
    height: 2rem
    //font-size: 100px
    transition: transform .7s linear, background .7s linear, box-shadow .7s linear, opacity 1s 0s
    z-index: 150
    cursor: default
    //animation-duration: .7s
    //animation-timing-function: linear
    //animation-iteration-count: 1
    //animation-fill-mode: both
    //animation-direction: normal
    pointer-events: none

  &.__anim:before
    transition: transform .7s linear, background .7s linear, box-shadow .7s linear, opacity 0s
    //animation-name: logo_anim
    transform: scale(80)
    opacity: 1
    box-shadow: 0 0 1rem 1rem #0000fe
    //box-shadow: 0 0 1px 5px #0000fe
    background: #0000fe

$wave_time: .7s
//$wave_time: 15s

.navbar-circle
  will-change: transform
  display: block
  //opacity: .8
  transform: scale(0)
  //box-shadow: 0 0 1rem 1rem #0000fe
  //background: #0000fe
  //box-shadow: 0 0 1rem 1rem #0000a0
  //background: #0000a0
  width: 5rem
  height: 5rem
  position: fixed
  left: 4rem
  top: 5.5rem
  border-radius: 100%
  //font-size: 100px
  //transition: transform .7s .4s linear, background .7s linear, box-shadow .7s .4s linear, opacity .1s 0s
  z-index: 98
  cursor: default
  //animation-duration: .7s
  //animation-delay: .4s
  //animation-timing-function: linear
  //animation-iteration-count: 1
  //animation-fill-mode: both
  //animation-direction: normal
  //pointer-events: none

  .navbar-custom &
    position: absolute
    top: 5.3rem

  svg.logo
    will-change: transform
    width: 100%
    height: 100%

    .logo-circle circle
      will-change: transform
      transition: fill $wave_time/2

  .__intro &
    //box-shadow: 0 0 1rem 1rem #0000a0
    //background: #0000a0

    svg.logo .logo-circle circle
      fill: #0000a0

  .__anim_wave &
    //width: 2rem
    //height: 2rem
    //transition: transform .7s linear, background .7s linear, box-shadow .7s 1s linear, opacity 0s
    //animation-name: logo_anim
    transition: transform $wave_time linear, background $wave_time linear, box-shadow $wave_time linear, opacity .1s 0s
    transform: scale(100)
    //opacity: .9999
    //box-shadow: 0 0 1rem 1rem #0000fe
    //background: #0000fe

    svg.logo .logo-circle circle
      fill: #0000fe

    //+ .s-page
      opacity: 0
      visibility: hidden

  //.__anim_wave.__anim_wave_back &
    transform: scale(80)
    //animation-name: logo_anim_back

  .__anim_wave .__skip-circle &
    animation-name: none !important
    transform: scale(0) !important
    opacity: 0
    box-shadow: none !important


      //+ .s-page
        opacity: 1
        visibility: visible

@media (min-width: 768px)
  .navbar-brand
    span
      width: 3rem
      height: 3rem
      left: 16.2rem
      top: 58%

    &.__anim span
      //animation-name: logo_anim_big
      //opacity: 1
      transform: scale(200)
      //box-shadow: 0 0 1rem 1rem #0000fe
      //background: #0000fe

  .navbar-circle
    //left: 17rem
    //top: 9rem
    left: 13.5rem
    top: 8rem

    .navbar-custom &
      left: 15.5rem
      top: 8rem

    $wave_time: .9s
    //$wave_time: 15s

    .__anim_wave &
      //width: 10rem
      //height: 10rem
      //margin: -5rem 0 0 -5rem
      transition: transform $wave_time linear, background $wave_time linear, box-shadow $wave_time linear, opacity .1s 0s
      //animation-name: logo_anim_big
      //opacity: .9999
      transform: scale(440)

    //.__anim_wave.__anim_wave_back &
      transform: scale(200)
      //animation-name: logo_anim_back_big

    .__anim_wave .__skip-circle &
      animation-name: none !important
      transform: scale(0) !important
      opacity: 0
      box-shadow: none

//box-shadow: 0 0 1rem 1rem #0000fe
//background: #0000fe

/*svg.logo .logo-circle.logo-circle-blur circle {
 *    transition: 1s ease-out;
 *}
 *svg.logo .logo-circle.logo-circle-blur.scale circle {
 *    transform: scale(45, 45) translate(-50%, -100%);
 *}


.navbar-custom
  transition: transform .3s, opacity .3s
  //margin-top: 27px
  margin-bottom: 0
  position: fixed
  z-index: 99
  top: 0
  left: 0
  right: 0
  // height: 0
  padding: 27px 0 0
  min-height: 1px
  // > .container
  //   height: 0
  //   > .row
  //     height: 0

  &.nav-up
    transform: translate(0, -180%)

  .__anim_next &
    transform: translate(0, 0) !important

  .__leave &,
  .__anim_next &
    transition: transform .3s 5s, opacity .3s
    //transform: translate(0, 0) !important

    .navbar-brand svg
      opacity: 0 !important

  //.__start_anim &,
  &.__invis
    &.nav-down
      transform: translate(0, 0)
      transition: transform 0s, opacity 0s

    .navbar-header
      opacity: 0
      transition: opacity 0s

    body:not(.__intro) &
      &.nav-down
        transition: transform 0s, opacity .3s .7s

      .navbar-header
        transition: opacity .3s .7s

  body.__fade_in_nav &
    transition: transform .3s 0s, opacity .3s .8s
    opacity: 0

  .__anim_wave body.__intro &
    //.navbar-custom,
    //.navbar-brand,
    .navbar-brand svg,
    .navbar-header
      opacity: 1 !important

  //&.nav-down
  .__anim_wave &
    //background: #000
    transition: transform 0s, opacity .3s
    transform: translate(0, 0)

    .navbar-header
      transition: opacity 3s

      //.navbar-brand,
      //.navbar-brand svg,
      //.navbar-header
      //  transition: opacity .3s !important

    //&.nav-down
      svg.logo .logo-circle
        -webkit-transition: fill .3s
        -o-transition: fill .3s
        transition: fill .3s
        fill: #0000fe !important


    //.navbar-header
      opacity: 0
      transition: opacity .3s .8s

  //animation-duration: .3s
    //animation-delay: .3s
    //animation-timing-function: linear
    //animation-iteration-count: 1
    //animation-fill-mode: forwards
    //animation-direction: normal
    //pointer-events: none
    //animation-name: logo_next

  .navbar-brand
    height: auto
    display: inline-block
    padding: 0
    line-height: 0
    margin-left: 20px !important
    position: relative
    z-index: 999
    outline: none !important
  &.in .navbar-brand
    position: static
  .b-menu-overlay
    z-index: 100
    position: fixed
    top: 0
    right: 0
    height: 100vh
    left: 0
    background: rgba(0, 0, 0, 0.25)
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1)
    opacity: 0
    visibility: hidden
  .b-menu
    will-change: transform
    display: block
    position: fixed
    transition: 0.8s cubic-bezier(0.19, 1, 0.22, 1)
    top: 0
    right: 0
    height: 100vh
    background: #fff
    padding: 0 20px
    z-index: 998
    width: 100%
    left: 100%
    margin-left: 15px

    &:before
      content: ''
      position: absolute
      top: -200px
      bottom: -200px
      right: -30px
      left: 0
      background: inherit

  &.in
    .b-menu
      left: 0
      margin-left: 0
    .b-menu-overlay
      opacity: 1
      visibility: visible
  .b-menu-container
    position: relative
  .b-menu
    .b-menu-body
      display: flex
      height: 100vh
      align-items: center
      justify-content: flex-start
      background: #fff
      margin-top: -6rem
    ul
      list-style: none
      padding: 0
      margin: 0
      font-size: 2.4rem
      letter-spacing: 0.15rem
      text-transform: uppercase
      min-height: 6rem
      line-height: 4rem
      color: #000
      font-weight: 700
      text-align: left
      display: block
      li
        list-style: none
        //padding: 0
        margin: 0
        font-size: 2.4rem
        letter-spacing: 0.15rem
        text-transform: uppercase
        min-height: 6rem
        line-height: 4rem
        color: #000
        font-weight: 700
        text-align: left
        display: block
        padding: 1rem 0

@media (min-width: 768px)
  .navbar-custom .navbar-brand
    margin-left: 20px !important
    position: static

  .navbar-custom .navbar-circle
    left: 17.5rem

.b-menu-main
  position: absolute
  bottom: 5rem
  right: 0
  left: 0

.navbar-custom .b-menu
  .b-menu-services
    margin-top: -1rem
  .b-menu-main li
    font-size: 2rem
    padding: 0.5rem 0

.b-menu a:hover
  color: #00f

@media (orientation: landscape)
  .navbar-custom .b-menu
    .b-menu-services
      margin-top: -10rem
    .b-menu-main
      bottom: 7rem

@media (min-width: 768px)
  .navbar-custom
    .b-menu
      width: 45%
      padding-left: 0
      padding-right: 80px
    &.in .b-menu
      left: 55%
    .b-menu
      .b-menu-body
        justify-content: flex-end
        margin-top: 0
      ul
        text-align: right
        li
          text-align: right
      .b-menu-services
        margin-top: 0

@media (min-width: 980px)
  .navbar-custom
    .b-menu
      width: 40%
      padding-left: 0
      padding-right: 100px
    &.in .b-menu
      left: 60%

    .navbar-circle
      left: 21.5rem

@media (min-width: 1049px)
  .navbar-custom .navbar-circle
      left: 17.5rem

@media (min-width: 1280px)
  .navbar-custom .navbar-circle
      left: 16.5rem

@media (min-width: 1400px)
  .navbar-custom .b-menu
    padding-left: 0
    padding-right: 120px

  .navbar-custom .navbar-circle
    left: 18.5rem

@media (min-width: 1700px)
  .navbar-custom .navbar-circle
    left: 15.5rem

.navbar-custom
  .navbar-collapse
    position: relative
    z-index: 999
    height: 46px !important
    border: none
    box-shadow: none
    width: 10rem
    float: right
  .navbar-toggle
    color: #00f
    display: block
    background: transparent
    border: none
    font: 0/0 a
    border-radius: 0
    position: absolute
    z-index: 999
    width: 84px
    height: 73px
    top: 50%
    right: -10px
    margin: -36px 0 0
    padding: 0
  &.in .navbar-toggle
    color: #00f !important
  .navbar-toggle .navbar-toggle-icon
    width: 74px
    height: 74px
    position: relative
    transform: rotate(0deg)
    transition: .3s ease-in-out, 0s color, 0s background-color
    cursor: pointer
    padding: 0
    span
      display: block
      position: absolute
      height: 3px
      width: 4rem
      background: currentColor
      border-radius: 0
      opacity: 1
      left: 50%
      top: 50%
      margin-left: -2rem
      margin-top: -0.7rem
      transform: rotate(0deg)
      transition: all .25s ease-in-out, color 0s, background-color 0s
      &:nth-child(1)
        transform-origin: left center
      &:nth-child(2)
        margin-top: 0.7rem
        transform-origin: left center
  &.in .navbar-toggle .navbar-toggle-icon span
    margin-top: -1.4rem
    margin-left: -1.5rem
    &:nth-child(1)
      transform: rotate(45deg)
    &:nth-child(2)
      transform: rotate(-45deg)
      margin-top: 1.4rem
  .navbar-toggle
    &:focus, &:active
      outline: none

@media (min-width: 768px)
  .navbar-custom
    padding-top: 5.7rem
    .navbar-collapse
      height: 9.5rem !important
