@import font2/BrutalType

@import sass/_general
@import sass/_layout

// animation timings, check js' ones

$b-project-info-loader_delay: .7s
$b-project-info-loader_shadow: .3s // and width delay
$b-project-info-loader_size: .25s // height and width, also opacity x2


$b-next-project-info-loader_delay: .4s
$b-next-project-info-loader_size: .3s // top and width
$b-next-project-info-loader_shadow: .2s

$project-viewport-padding-bottom: 25vh
$project-viewport-padding-top: 16rem

$project_to_next_project: .6s

$logo_size: 8rem
$logo_size_big: 16rem

body
  //.__anim_wave &
    .s-page
      > *
        transition: transform .45s ease-out
        transform: translate3d(0, -5%, 0)
      p, ul, ol
        transition: opacity .45s ease-out
        opacity: 0

      .navbar-custom
        transform: translate3d(0, 0, 0)
        opacity: 1 !important
        .blue-bg
          opacity: 1 !important

  //&.__leave .s-page
    > *
      transition: transform .35s ease-out, border-color .35s ease-out, color .35s ease-out
      transform: translate3d(0, -5%, 0)

    *
      color: rgba(255, 255, 255, 0) !important
      border-color: transparent !important

    p, ul, ol, .row
      transition: opacity .35s ease-out
      opacity: 0 !important

    .navbar-custom
      transform: translate3d(0, 0, 0)
      opacity: 1 !important

      .blue-bg
        opacity: 1 !important

  //&.__leave .s-page
    .intro-arrow,
    > *
      transition: transform .4s ease-out
      transform: translate3d(0, -5%, 0)

      *
        transition: color .3s ease-out
        color: rgba(255, 255, 255, 0) !important

    //p, ul, ol
      transition: opacity .45s ease-out
      opacity: 0
    >
    .navbar-custom
      transform: translate3d(0, 0, 0)
      opacity: 1 !important
      .blue-bg
        opacity: 1 !important

  &.is-open
    overflow: hidden
    border-right-style: solid
    border-right-color: transparent

  &.__skip-circle
    .s-page
      background: #00f


@import sass/_navbar
@import sass/_intro

.line-heading
  font-size: 16px
  font-weight: 700
  text-transform: uppercase
  position: relative
  letter-spacing: 1rem
  padding-left: 37px
  &:before
    content: ''
    display: block
    position: absolute
    right: 100%
    width: 100px
    height: 1px
    top: 50%
    margin-top: -1px
    background: #0000fe
  &.h-floating
    &:before
      width: 0
      transition: width .25s ease-out .4s
    &.__visible:before
      width: 100px

@media (min-width: 768px)
  .line-heading
    font-size: 2.1rem
    letter-spacing: 1.05rem
    margin-bottom: 80px
    padding-left: 0
    &:before
      margin-right: 40px

.section
  padding: 10rem 0
  box-sizing: border-box

@media (min-width: 768px)
  .section
    padding: 85px 0 75px

.intro-expertise
  background: #fff
  color: #000
  text-align: left
  padding: 5.5rem 0
  .text
    font-size: 16px
    line-height: 36px
    margin-bottom: 16px
    &:last-child
      margin-bottom: 0

@media (min-width: 768px)
  .intro-expertise
    padding: 30rem 0 30rem
    .text
      font-size: 3.43rem
      line-height: 5.1rem
      margin-bottom: 5.7rem

.section.expertise
  padding-top: 10px
  padding-bottom: 30px

@media (min-width: 768px)
  .section.expertise
    padding-top: 0
    padding-bottom: 0
    .line-heading
      margin-top: 10px

.home-services
  margin: 10px 0

.home-services-caption
  padding-top: 3.5rem
  padding-bottom: 2.65rem
  a
    font-weight: 700
    font-size: 3.75rem
    line-height: 4.55rem
    color: #0000fe

    .touchscreen &,
    .is-mobile &
      &:before,
      &:after
        display: none

.home-services-descr
  overflow: hidden
  min-height: 144px
  margin-bottom: 85px
  font-size: 16px
  line-height: 36px
  p
    font-size: 16px
    line-height: 36px
    margin: 0

@media (min-width: 768px)
  .home-services
    margin: 0
  .home-services-caption
    padding-top: 0
    padding-bottom: 0
    a
      display: inline-block
      vertical-align: top
      font-size: 3.4rem
      line-height: 4.5rem
      padding-bottom: 35px
      &:before
        content: ''
        display: block
        position: absolute
        left: -15px
        width: 28px
        height: 2px
        bottom: 4px
        background-color: currentColor
      &:after
        content: ''
        position: absolute
        left: 4px
        bottom: 4px
        margin-bottom: -3px
        width: 8px
        height: 8px
        border-top: solid 2px currentColor
        border-right: solid 2px currentColor
        transform: rotate(45deg)
      &:before, &:after
        transition: left 0.3s ease-out, opacity 0.3s ease-out
        opacity: 0
      &:hover
        &:before
          left: 20px
          opacity: 1
        &:after
          left: 41px
          opacity: 1
  .home-services-descr
    min-height: 21rem
    margin-bottom: 12rem
    font-size: 2.15rem
    line-height: 5.2rem
    p
      font-size: 2.15rem
      line-height: 5.2rem

.section.service-tags
  background: #f4f4f4
  padding: 4.4rem 0 6rem

.service-tags-caption
  font-size: 18px
  line-height: 35px

.service-tags
  .col-sm-9, .col-sm-3
    padding-right: 0

.service-tags-list
  list-style: none
  padding: 0
  margin: 0
  position: relative
  top: 10px
  /*-moz-column-count: 3;
   *column-count: 3;
   *column-gap: 40px;
  li
    list-style: none
    padding: 0
    margin: 0
    display: block
    a
      display: block
    text-transform: lowercase
    font-size: 15px
    line-height: 35px

@media (min-width: 768px)
  .section.service-tags
    padding: 12rem 0 10rem
  .service-tags-caption
    font-size: 2.6rem
    line-height: 5rem
  .service-tags-list
    position: static
    top: auto
    li
      font-size: 2.15rem
      line-height: 5rem
      a
        margin-right: 40px

.section.projects
  padding: 54px 0
  .line-heading
    margin-bottom: 46px
  .all-projects-link
    display: block
    font-size: 18px
    font-weight: 700
    color: #00f
    position: relative
    margin-top: 15px
    &:before
      content: ''
      display: block
      position: absolute
      right: 2px
      width: 28px
      height: 2px
      top: 50%
      margin-top: -1px
      background-color: currentColor
    &:after
      content: ''
      position: absolute
      right: 0
      top: 50%
      margin-top: -4px
      width: 8px
      height: 8px
      border-top: solid 2px currentColor
      border-right: solid 2px currentColor
      transform: rotate(45deg)

@media (min-width: 768px)
  .section.projects
    padding: 29rem 0 20rem
    .line-heading
      margin-bottom: 12rem
    .all-projects-link
      display: inline-block
      padding-right: 115px
      font-size: 3.4rem
      margin-top: 6rem
      &:before
        transition: all 0.1s linear
      &:hover:before
        width: 48px

.b-projects > .row > div
  margin-bottom: 20px

.b-project
  /*min-height: 175px;
  position: relative
  display: block
  text-decoration: none
  //overflow: hidden
  &:after
    display: block
    content: ""
    width: 100%
    padding-top: 62%

  .b-project-container
    &:before
      transition: opacity .5s
      content: ''
      position: absolute
      top: 0
      right: 0
      left: 0
      bottom: 0
      opacity: 0
      background: #00f

  &.__animate
    z-index: 100

    .b-project-container
      &:before
        opacity: 1

    .b-project-info
      opacity: 0 !important
      pointer-events: none
      transition-delay: .3s

    .b-project-info-loader
      opacity: 1
      //width: 4000px
      //height: 2500px
      width: 200vw
      height: 200vh
      box-shadow: 0 0 25px #00f

.b-project-container
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: none no-repeat transparent center center
  background-size: cover

.b-project-image
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

  > img
    display: none

.b-project
  .b-project-info-container
    display: none
    width: 100%
    max-height: 100%
    overflow: hidden
    box-sizing: border-box
    padding: 0 38px
  .b-project-info
    will-change: transform
    opacity: 0
    transition: opacity 0.5s ease-out
    display: flex
    align-items: center
    justify-content: center
    text-align: left
    color: #fff
    background: rgba(0, 0, 255, 0.8)
    width: 100%
    height: 100%
    //overflow: hidden

    //&:hover
      opacity: 1

  &:hover
    .b-project-info
      opacity: .99

.b-project-info-loader
  opacity: 0
  transition: box-shadow $b-project-info-loader_shadow $b-project-info-loader_delay cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity ($b-project-info-loader_size * 2) cubic-bezier(0.785, 0.135, 0.15, 0.86), width $b-project-info-loader_size $b-project-info-loader_shadow cubic-bezier(0.785, 0.135, 0.15, 0.86), height $b-project-info-loader_size $b-project-info-loader_delay cubic-bezier(0.6, 0.04, 0.98, 0.335)
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  background: #00f
  width: 100%
  height: 100%
  min-height: 100%
  min-width: 100%
  box-shadow: 0 0 0 #00f

.b-project-caption
  font-size: 18px
  height: 22px
  line-height: 22px
  text-transform: uppercase
  width: 100%
  overflow: hidden
  position: relative

  .b-project &
    font-weight: bold

  span
    display: block
    height: 22px
    line-height: 22px
    top: 0
    //margin-top: 22px
    left: 0
    right: 0
    opacity: 0.2

.b-project-descr
  margin: 30px 0 20px
  font-size: 14px
  line-height: 30px
  font-weight: normal
  p
    font-size: 14px
    line-height: 30px
    font-weight: normal
    margin: 0
    padding: 0

.b-project-tags
  font-weight: 700
  font-size: 13px
  line-height: 30px

@media (min-width: 768px)
  .b-projects > .row > div
    margin-bottom: 40px
  //.b-project
  .b-project-caption
    font-size: 2.6rem
    height: 3rem
    line-height: 3rem
    margin: 0
  .b-project-descr
    transition: .3s 0s ease-out
    transform: translate(0, 22px)
    opacity: 0
    margin: 4rem 0 3.3rem
    font-size: 2rem
    line-height: 4.5rem
    p
      font-size: 2rem
      line-height: 4.5rem

    .b-project:hover &
      opacity: 1
      transition-delay: .2s
      transform: translate(0, 0)

  .b-project
    .b-project-info-container
      display: block

  .b-project-tags
    transition: .3s .0s ease-out
    transform: translate(0, 22px)
    opacity: 0
    font-weight: 700
    font-size: 1.83rem
    line-height: 4rem

    .b-project:hover &
      opacity: 1
      transition-delay: .3s
      transform: translate(0, 0)

  .b-project-caption span
    animation-name: project-list-caption-hide
    animation-duration: 0.3s
    animation-delay: 0s
    animation-timing-function: ease-out
    animation-iteration-count: 1
    animation-fill-mode: forwards
    animation-direction: normal
  .b-project:hover
    .b-project-caption span
      animation-name: project-list-caption
      animation-duration: 0.3s
      animation-delay: 0.07s
      animation-timing-function: ease-out
      animation-iteration-count: 1
      animation-fill-mode: forwards
      animation-direction: normal

@import sass/_footer
@import sass/_b-tags

.p-project-intro-bg
  position: absolute
  z-index: 0
  background: #00f
  width: 100%
  //height: 83vh
  //min-height: 83vh
  height: 100vh
  min-height: 100vh

.p-project-intro
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  width: 100%
  height: auto
  //will-change: transform
  min-height: 103vh
  //padding: 13rem 0 0
  //min-height: 100vh
  //padding: 13rem 0 25vh
  text-align: left
  background: transparent
  color: #fff
  position: relative
  z-index: 1
  //transition: all .1s ease

  .__next &
    //padding-top: 5rem
    height: 75vh
    min-height: 75vh
    //overflow: hidden

  //> .container
    //min-height: 35vh
    //height: 30%
    flex: 1 0 auto
    display: flex
    align-items: center
    justify-content: flex-start
    flex-direction: row
    position: relative

    &.p-project-intro-body
      align-items: flex-start

    > .row
      flex: 1 0 auto
      min-width: 100%
      max-width: 115%

  //.p-project-photo
    opacity: 0
    animation-duration: .6s
    animation-delay: .1s
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1)
    animation-iteration-count: 1
    animation-fill-mode: forwards
    animation-direction: normal

    ._page_loaded &
      animation-name: load_project

    ._page_loaded .__from-next &
      animation-name: none
      opacity: 1

    &.__prevent_anim
      display: none

    &.__skip_anim
      opacity: 1
      animation-name: none

.p-project-intro-viewport
  will-change: transform
  transform: translate(0,0)
  display: flex
  align-items: center
  justify-content: flex-start
  flex-direction: column
  position: relative
  width: 100%
  height: 100vh
  padding: 30vh 0 20vh

  + .p-project-photo
    margin-top: -20vh

  .p-project-intro-tags
    min-height: 0
    //flex: 1 0 auto

    .__anim .__next &
      min-height: 0

  .p-project-intro-body
    height: auto !important
    margin: 0 0 9.8rem

  &[data-rows='2']
    .p-project-intro-body
      margin: -3.35rem 0 5.35rem !important

  &[data-rows='3']
    .p-project-intro-body
      margin: -6.7rem 0 4.1rem !important

  .__next &
    transition: height .6s cubic-bezier(0.19, 1, 0.22, 1), padding .6s cubic-bezier(0.19, 1, 0.22, 1)
    flex: 1 0 auto
    padding: 0
    //height: 75vh

    height: calc(75vh - 9.8rem)
    //max-height: calc(75vh - 9.8rem)
    padding-bottom: 20vh

    .p-project-intro-body
      flex: 0 0 auto
      margin: 0 0 3rem !important

  .__anim &
    height: 70vh !important
    //max-height: 70vh !important
    //padding-bottom: 20vh

    .p-project-intro-body
      margin: 0 0 9.8rem

.p-project-intro-body
  will-change: transform
  transform: translate(0, 0)
  //flex: 1 0 auto
  display: flex
  //min-height: 36rem
  //min-height: 35vh
  align-items: center
  justify-content: flex-start
  flex-direction: row
  position: relative

  .__anim &
    transition: margin $b-next-project-info-loader_size .1s cubic-bezier(0.19, 1, 0.22, 1)

  //.__next &
    flex: 1 0 auto

  > .row
    width: 100%
    > div
      padding-right: 0
      //position: static

  //.p-project-next &
    flex: 1 0 auto

/*.p-project-next .b-tags {
 *    margin: 0 0 30px;
 *}
 *.p-project-next .p-project-intro {
 *    display: block;
 *    padding: 0;
 *    overflow: hidden;
 *    position: relative;
 *    background: #0000ff;
 *    margin-top: 20px;
 *}

.p-project-title
  transform: translate(0,0)
  font-size: 4.7rem
  line-height: 7.9rem
  font-weight: normal
  margin: 0
  color: #fff !important
  display: block

  > span
    display: block
    overflow: hidden

    span
      will-change: transform
      display: inline-block
      -webkit-transform: translate3d(0, 100%, 0)
      transform: translate3d(0, 100%, 0)
      opacity: 0
      position: relative
      animation-duration: .5s
      //animation-delay: .1s
      animation-timing-function: ease-out
      animation-iteration-count: 1
      animation-fill-mode: forwards
      animation-direction: normal

      ._page_loaded &
        animation-name: text_bottom2top

.__from-next
  .p-project-title
    span span
      animation-name: none
      transform: translate3d(0, 0, 0)
      opacity: 1

.p-project-photo
  will-change: transform
  display: block
  position: relative
  z-index: 1
  transition: margin-top .3s .3s cubic-bezier(0.785, 0.135, 0.15, 0.86)

  .__next &
    //margin-top: 0
    animation: none !important
    //background: red
    //margin-bottom: -35vh

  img
    display: block
    width: 100%

    //._page_loaded &
      display: block

.p-project-descr
  margin: 5rem 0
  color: #000
  p
    font-size: 2.5rem
    line-height: 5.7rem
    color: #000
    margin-bottom: 3.9rem

.p-project-sections .row
  margin-left: -20px
  margin-right: -20px
  display: block

.p-project-section
  padding: 10px 20px
  float: none
  .p-project-section-body
    position: relative
    height: 100%
    font: 0/0 a
  &.p-project-section__content .p-project-section-body
    padding: 2.5rem 0
  .p-project-section-body .p-project-section-body-wrapper
    width: 100%
    height: 100%
  &.p-project-section__content .p-project-section-body
    > *
      font-family: 'Brutal Type', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
      font-size: 2.2rem
      line-height: 5.5rem
    p, ul, ol
      margin-bottom: 2.6rem
    p:last-child, ul:last-child, ol:last-child
      margin-bottom: 0
      padding-bottom: 0

.p-project-section-slider .slick-track
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  background: #000

.p-project-section-slider-item
  text-align: center
  cursor: pointer
  height: 100%
  flex: 1 0 auto
  min-height: 0
  outline: none !important
  img
    width: auto
    height: auto
    max-width: 100%
    max-height: 100%

.p-project-section-slider .slick-dots
  position: absolute
  left: 0
  right: 0
  //bottom: 0
  text-align: center
  padding: 0
  margin: 0
  border: none
  list-style: none
  bottom: 2.5rem
  li
    display: inline-block
    padding: 0
    border: none
    margin: 0 16px !important
    button
      display: block
      padding: 0
      border: none
      width: 11px
      height: 11px
      border-radius: 6px
      opacity: 1
      background: #fff
      margin: 0
      outline: none
    &.slick-active button
      box-shadow: 0 0 5px 6px #fff
      width: 7px
      height: 7px
      margin: 2px 0

.p-project-section
  .p-project-section-body video
    height: 100%
    background: #000
    flex: 1 0 auto
  p
    font-size: 16px
    line-height: 36px
    color: #000
  \:last-child
    margin-bottom: 0
    padding-bottom: 0

.p-project-sections
  img, video
    width: 100%

.p-project-section
  .v-btn-play-big
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: transparent
    cursor: pointer
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1)
    &:hover
      background: rgba(0, 0, 0, 0.3)
    .v-btn-play
      color: #fff
      display: block
      position: absolute
      left: 50%
      top: 50%
      margin-left: -2.5rem
      margin-top: -3rem
      width: 0
      height: 0
      border-width: 3rem 0 3rem 5rem
      border-style: solid
      border-top-color: transparent
      border-bottom-color: transparent
  .v-controls
    position: absolute
    bottom: 0
    left: 0
    right: 0
    padding: 0 30px 20px
    user-select: none
    .v-timeline
      height: 13px
      padding: 5px 0
      display: block
      margin-bottom: 20px
      position: relative
      cursor: pointer
      &:before
        display: block
        content: ''
        position: absolute
        background: rgba(255, 255, 255, 0.4)
        top: 5px
        height: 3px
        left: 0
        right: 0
      .v-timeline-current
        background: #fff
        height: 3px
        display: block
        width: 0
      .v-timeline-target
        width: 9px
        height: 9px
        position: absolute
        left: 0
        top: 2px
        background: #fff
        border-radius: 5px
        margin-left: -5px
        cursor: pointer
    .v-controls-bar
      position: relative
      height: 14px
      line-height: 14px
      vertical-align: middle
      .v-btn-play
        cursor: pointer
        color: #fff
        display: inline-block
        vertical-align: middle
        border-width: 7px 0 7px 12px
        border-style: solid
        border-top-color: transparent
        border-bottom-color: transparent
        &.pause
          width: 12px
          height: 14px
          border: solid #fff
          border-width: 0 4px
      .v-volume
        position: relative
        height: 14px
        margin-left: 20px
        vertical-align: middle
        display: inline-block

        &:before
          content: ''
          position: absolute
          top: -10px
          right: -10px
          bottom: -10px
          left: -10px

        .v-btn-volume
          height: 20px
          width: 20px
          margin-right: 10px
          margin-top: -3px
          cursor: pointer
          vertical-align: middle
          display: inline-block
          path
            fill: #fff
            opacity: 0
        &.muted .v-btn-volume
          .small, .medium, .high
            opacity: 0 !important
        .v-btn-volume
          path.icon, &.high path.high, &.medium path.medium, &.small path.small
            opacity: 1
      .v-volume-bar
        display: none
        width: 120px
        height: 2px
        margin: 6px 0
        background: rgba(255, 255, 255, 0.4)
        vertical-align: middle
        position: relative
        cursor: pointer

        &:before
          content: ''
          position: absolute
          top: -10px
          bottom: -10px
          right: 0
          left: 0

      .v-volume:hover .v-volume-bar
        display: inline-block

      .v-volume-bar-current
        height: 2px
        width: 0
        background: #fff
      .v-volume.muted .v-volume-bar-current
        width: 0 !important
      .v-volume-bar-target
        width: 8px
        height: 8px
        position: absolute
        left: 0
        top: -3px
        background: #fff
        border-radius: 4px
        margin-left: -4px
        cursor: pointer

        &:before
          content: ''
          position: absolute
          top: -10px
          right: -10px
          bottom: -10px
          left: -10px

      .v-volume.muted .v-volume-bar-target
        left: 0 !important
      .v-time
        display: block
        height: 14px
        position: absolute
        right: 34px
        top: 0
        font-family: 'Brutal Type', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif
        font-size: 11px
        line-height: 14px
        font-weight: normal
        color: #fff
        > div
          display: inline-block
          &.v-time-sep
            margin: 0 1px
      .v-btn-fullscreen
        cursor: pointer
        display: block
        width: 14px
        height: 14px
        position: absolute
        right: 0
        top: 0
        path
          fill: #fff

/*.p-project-intro.p-project-next {
 *    padding: 0;
 *    margin: 40px 0 0;
 *    background: #0000ff;
 *    height: 83vh;
 *    min-height: 83vh;
 *    overflow: hidden;
 *}
 *@media (min-height: 555px) {
 *    .p-project-intro.p-project-next {
 *        height: 60vh;
 *        min-height: 60vh;
 *    }
 *}
 *.p-project-next .p-project-intro-body {
 *    margin: 0;
 *    height: auto;
 *    min-height: 0;
 *    display: block;
 *}

.p-project-next-spacer
  display: none
  position: fixed
  height: 100vh
  width: 100vw
  top: 0
  left: 0
  z-index: 1
  background: #00f

  //.__anim_next &
    display: block

.p-project-next
  transform: translate(0, 0)
  //transition: top .6s cubic-bezier(0.075, 0.82, 0.165, 1)
  transition: top .6s cubic-bezier(0.19, 1, 0.22, 1),  height .6s cubic-bezier(0.19, 1, 0.22, 1), padding-top .6s cubic-bezier(0.19, 1, 0.22, 1)
  display: block
  position: relative
  //position: absolute
  //bottom: 0
  //right: 0
  //left: 0
  z-index: 10
  height: 75vh
  background: #fff
  will-change: transform

  .p-project-next-title
    transition: opacity .5s .35s ease-out, height .4s ease-out, margin .4s ease-out

  .b-project-info-loader
    top: 0
    bottom: 0
    z-index: 1
    width: 100%
    min-height: 100%
    height: auto
    //background: red
    opacity: 1
    box-shadow: none
    transform: translate(-50%, 0)
    //transition: top .3s .4s cubic-bezier(0.075, 0.82, 0.165, 1), width .3s cubic-bezier(0.6, 0.04, 0.98, 0.335)
    transition: box-shadow $b-next-project-info-loader_shadow $b-next-project-info-loader_delay cubic-bezier(0.785, 0.135, 0.15, 0.86), bottom $b-next-project-info-loader_size cubic-bezier(0.6, 0.04, 0.98, 0.335), top $b-next-project-info-loader_size $b-next-project-info-loader_delay cubic-bezier(0.6, 0.04, 0.98, 0.335), transform $b-next-project-info-loader_size * .5 $b-next-project-info-loader_delay * 1 ease, width $b-next-project-info-loader_size cubic-bezier(0.6, 0.04, 0.98, 0.335)
    //transition: top .3s cubic-bezier(0.6, 0.04, 0.98, 0.335)

  .p-project-intro-bg
    background-color: transparent

  //.p-project-intro-viewport
    background: red

  &.__start_anim

    .p-project-next-title
      opacity: 0
      //margin: 0
      //height: 0

    //.p-project-intro-wrapper.__next
      //height: auto

    .b-project-info-loader
      //position: fixed
      width: 120vw
      top: -100vh
      bottom: -100vh
      //bottom: 17vh
      box-shadow: 0 0 25px #00f

    .p-project-intro
      //height: auto
      //height: 100%
      transition: height .3s .05s ease, padding .25s .05s ease
      overflow: visible

  &.__anim
    background: #00f
    position: fixed
    //opacity: .9
    pointer-events: none
    //padding-top: 30vh
    top: 0 !important
    z-index: 6
    right: 0
    left: 0
    height: 100vh

    //transform: scale(1) translate3d(0, -5%, 0)

    .b-project-info-loader
      transform: translate(-50%, -17vh)
      top: -1000vh
      transition: none
      box-shadow: 0 0 0 #00f

      //height: 2000px
      //top: -100vh
      //box-shadow: 0 0 25px #00f

    .p-project-next-title
      margin: 0
      height: 0

    .p-project-intro-wrapper.__next
      //height: auto
      height: 100vh
      transform: scale(1) translate3d(0, 0, 0) !important

      .p-project-intro
        transition: height .3s .05s ease, padding .25s .05s ease
        //transition: none
        //padding: ($project-viewport-padding-top - 3) 0 0
        //height: 103vh

      //> .p-project-photo
        margin-top: -$project-viewport-padding-bottom

    //.p-project-intro-bg
      height: 83vh
      min-height: 83vh

    //.p-project-intro
      height: auto
      overflow: visible

.p-project-next-title
  transform: translate(0,0)
  transition: opacity 0.6s ease-out
  font-size: 1.79rem
  margin: 5.4rem 0 5.4rem
  margin-top: -1.2rem
  line-height: 5.4rem
  //margin: 0
  letter-spacing: 0.25rem
  font-weight: 700
  text-transform: uppercase
  //position: absolute
  //top: 0
  //left: 0

.p-project-intro-wrapper
  //will-change: transform
  transition: transform $project_to_next_project .1s cubic-bezier(0.19, 1, 0.22, 1), padding $project_to_next_project .0s cubic-bezier(0.19, 1, 0.22, 1)
  //transition: transform .3s ease-out, padding .3s ease-out, margin-top .3s ease-out
  //> .p-project-photo
    margin-top: -25vh

  &.__main_
    .p-project-photo
      //margin-top: -$project-viewport-padding-bottom
      opacity: 0
      animation-duration: .6s
      animation-delay: .1s
      animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1)
      animation-iteration-count: 1
      animation-fill-mode: forwards
      animation-direction: normal

      ._page_loaded &
        animation-name: load_project

      ._page_loaded .__from-next &
        transform: none !important
        animation-name: none
        opacity: 1

      &.__prevent_anim
        display: none

      &.__skip_anim
        opacity: 1
        animation-name: none

  //.p-project-intro
    > .container
      min-height: 30vh

.p-project-intro-wrapper.__next
  padding-top: 9.8rem

  .__anim &
    padding-top: 30vh
    padding-bottom: 20vh

  //height: 75vh
  //transition: height .3s .2s cubic-bezier(0.785, 0.135, 0.15, 0.86)
  //transition: padding-top .3s .2s cubic-bezier(0.785, 0.135, 0.15, 0.86)

  //.p-project-intro
    > .container
      transition: min-height .3s .2s cubic-bezier(0.785, 0.135, 0.15, 0.86)

  //body:not(.__anim_next) &
    .p-project-intro
      > .container
        min-height: 30%

.p-project-intro-wrapper.__main
  //.p-project-intro-bg
    height: 100vh
    min-height: 100vh

  //.p-project-tags
    min-height: 30vh
    margin-bottom: 9rem

  //.p-project-intro
    background: #00f

  .p-project-photo
    //background: #fff
    position: relative
    z-index: 1
    //opacity: 0
    //animation-duration: .6s
    //animation-delay: .6s
    //animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1)
    //animation-iteration-count: 1
    //animation-fill-mode: forwards
    //animation-direction: normal

    //._page_loaded &
      animation-name: load_project

// .p-project-intro-wrapper.__anim
//   transition: 3s ease-out
//   *
//     transition: 3s ease-out

/*.p-project-next .p-project-title {
 *    margin: 10rem 0 15rem;
 *}
 *.p-project-next .p-project-tags {
 *    margin-top: 5rem;
 *    margin-bottom: 5rem;
 *    height: auto;
 *}
 *.p-project-next .p-project-photo {
 *    width: 100%;
 *    height: 24rem;
 *    overflow: hidden;
 *}
 *.p-project-next .p-project-photo img {
 *    width: 100%;
 *    height: auto;
 *}

//.p-project-tags


.p-project-intro-tags
  transform: translate(0, 0)
  will-change: transform
  min-height: 30vh
  display: flex
  align-items: center
  flex-flow: row
  flex-wrap: wrap
  transition: min-height $project_to_next_project .0s cubic-bezier(0.785, 0.135, 0.15, 0.86)

  > .row
    min-width: 100%
    //flex: 1 0 auto

  //.__next &
    min-height: 18vh

@media (min-width: 768px)
  .p-project-intro-wrapper.__next
    height: 70vh
    max-height: 70vh

  .p-project-intro-wrapper.__main_
    > .p-project-photo
      margin-bottom: 16rem

  .p-project-intro-wrapper.__main
    .p-project-intro
      margin-bottom: 0
    //.p-project-photo
      margin-bottom: -18rem

  .p-project-intro
    .p-project-photo
      opacity: 0
      animation-duration: .8s
      animation-delay: .8s

      //.__next &
        margin-bottom: 0

  .b-project-info-loader
    transition: box-shadow $b-project-info-loader_shadow $b-project-info-loader_delay cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity ($b-project-info-loader_size * 2) cubic-bezier(0.785, 0.135, 0.15, 0.86), width $b-project-info-loader_size $b-project-info-loader_shadow cubic-bezier(0.6, 0.04, 0.98, 0.335), height $b-project-info-loader_size $b-project-info-loader_delay cubic-bezier(0.6, 0.04, 0.98, 0.335)

    //transition: box-shadow $b-project-info-loader_shadow $b-project-info-loader_delay cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity ($b-project-info-loader_size * 2) cubic-bezier(0.785, 0.135, 0.15, 0.86), width ($b-project-info-loader_size + .05) $b-project-info-loader_shadow cubic-bezier(0.6, 0.04, 0.98, 0.335), height ($b-project-info-loader_size + .15) ($b-project-info-loader_delay + .2) cubic-bezier(0.6, 0.04, 0.98, 0.335)
    //transition: box-shadow .3s .7s cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity .5s cubic-bezier(0.785, 0.135, 0.15, 0.86), width .3s .3s cubic-bezier(0.6, 0.04, 0.98, 0.335), height .4s .9s cubic-bezier(0.6, 0.04, 0.98, 0.335)

  .p-project-next
    background: #fff
    //overflow: hidden

    //&.__anim
      pointer-events: none
      //padding-top: 80px
      //padding-top: 23px !important
      //top: 80px

      .b-project-info-loader
        transform: translate(-50%, 0)

      //.p-project-intro-wrapper.__next

        .p-project-intro
          min-height: 100vh
          //padding: $project-viewport-padding-top 0 0

  .p-project-intro-wrapper.__next
    position: relative
    height: 100vh
    min-height: 100vh
    margin-top: 0
    transform: scale(1) //translate3d(0, 25vh, 0)
    //transition: transform 0.3s ease-out
    transform-origin: center bottom

    .p-project-next:hover:not(.__start_anim) &
      transform: scale(0.96, 0.96) //translate3d(0, 25vh, 0)

    .p-project-photo
      opacity: 1

    &.__anim
      position: fixed
      z-index: 0
      bottom: 0
      left: 0
      right: 0
      transform: scale(1) translate3d(0, 0vh, 0)
      transition: transform 0.6s ease-out

    //body:not(.__anim_next) &
      padding-top: 10rem

      //.p-project-intro
        > .container
          &.p-project-intro-body
            min-height: 50%

  // .p-project-intro.__next.__anim

    //&.__anim
      transform: scale(1) translate3d(0, -50%, 0)
      transition: transform 0.6s ease-out

      .b-project-info-loader
        opacity: 1
        width: 4000px
        height: 20000px
        box-shadow: 0 0 25px #00f


      // height: 100vh
      // min-height: 100vh
      // animation-name: next_project
      // animation-duration: 1.2s
      // animation-timing-function: ease-out
      // animation-iteration-count: 1
      // animation-fill-mode: forwards
      // animation-direction: normal
      // &:hover
      //   transform: scale(1, 1)
      .p-project-intro
        padding: 16rem 0 0
        margin-bottom: 15rem
        height: auto
        min-height: 100vh
      .p-project-next-title
        // refactor
        display: none
        opacity: 0
        transform: translate3d(0, 20px, 0)
        height: 0
        margin: 0

  .p-project-intro-bg
    height: 100vh
    min-height: 100vh
  .__next .p-project-intro-bg
    position: absolute
    z-index: 1
  .p-project-intro
    //padding: $project-viewport-padding-top 0 0
    margin-bottom: 15rem
    height: auto
    min-height: 100vh
    //transition: all .6s .3s ease, padding .6s 0s ease
    transition: height .6s .05s ease, padding .6s 0s ease

  .__next .p-project-intro
    //padding: 0
    //padding: 10rem 0 40vh
    margin: 0
    //height: 100%
    //min-height: 100%
    //height: 75vh
    //min-height: 75vh
    //overflow: hidden
  .p-project-intro-body
    height: 46rem
    //min-height: 44vh
    //padding-top: 2rem
    margin-top: 2rem

    .__next &
      //margin-top: 7rem
      height: 26vh
      flex: 1 0 auto
      //margin: 0

    .__anim .__next &
      //margin-top: 0
      height: 46rem

      //height: 30rem
    .p-service-intro &
      margin-top: 6rem

  .p-project-title
    font-size: 10rem
    line-height: 11.5rem
    //margin: 4rem 0 0
    margin: 0
  .p-project-intro-tags
    //min-height: 16rem

    //.__next &
      //min-height: 16rem
      min-height: 24vh

    //.__anim .__next &
      min-height: 0

    //min-height: 30vh
    //margin-bottom: 9rem
  .p-project-descr
    margin-bottom: 13rem
    width: 70%
    p
      font-size: 3.42rem
      line-height: 5rem
      margin-bottom: 5.4rem
  .p-project-section
    padding: 20px
    &.col-sm-12 p
      font-size: 24px
    &.p-project-section__content .p-project-section-body
      padding: 0
      > *
        font-size: 2.3rem
        line-height: 5rem
  /*.p-project-intro.p-project-next {
   *    margin: 20px 0 0;
   *    height: 74vh;
   *    min-height: 0;
   *    overflow: visible;
   *    transition: transform 0.25s linear;
   *    transform-origin : 50% 100%;
   *}
   *.p-project-intro.p-project-next:hover {
   *    transform: scale(0.96);
   *}
  .p-project-next-title
    line-height: 4rem
    height: 4rem
    overflow: hidden
    letter-spacing: 0.56rem
    margin-top: -1.2rem
    transition: all .3s .3s ease-out
// .__next .p-project-title
//   margin: 0 0 5rem

.p-projects-intro
  padding: 18.5rem 0 3rem
  background: #0000fe
  color: #fff
  p
    font-size: 3.13rem
    line-height: 4.7rem

.p-projects-filter
  margin: 6.5rem 0 0
  min-height: 3.5rem

.p-projects-filter-groups
  list-style: none
  margin: 0 -4rem 0 0
  padding: 0 20px
  background: transparent
  &.expand-xs
    position: absolute
    left: 20px
    right: 20px
    background: #f4f4f4
    z-index: 50
    padding-bottom: 6px
  li
    display: block
    font-size: 15px
    line-height: 32px
    margin: 0
    padding: 4px 0
    list-style: none
    a
      display: block
      padding-left: 32px
      color: #000
      position: relative
      text-transform: lowercase
      &:before
        content: ''
        display: block
        position: absolute
        left: 0
        width: 15px
        height: 15px
        border: 1px solid #dadada
        top: 50%
        margin-top: -7px
        background: #fff
    &.active a:after
      content: ''
      display: block
      position: absolute
      width: 7px
      height: 4px
      left: 4px
      top: 50%
      margin-top: -2px
      border-bottom: solid 2px currentColor
      border-left: solid 2px currentColor
      transform: rotate(-45deg)
    &.__all
      display: none
      &.__mobile
        font-size: 18px
        font-weight: 700
        display: block
        a
          padding-left: 0
          &:before
            content: ''
            position: absolute
            left: auto
            right: 0
            top: 50%
            margin-top: -1px
            width: 10px
            height: 2px
            border: none
            background-color: currentColor
            transform: none
          &:after
            display: none
  &.collapse-xs li
    &.__all.__mobile
      a:after
        content: ''
        display: block
        position: absolute
        left: auto
        right: 4px
        top: 50%
        margin-left: -1px
        margin-top: -5px
        width: 2px
        height: 10px
        border: none
        background-color: currentColor
        transform: none
      display: block
    display: none

.p-projects .b-projects
  margin-top: 3.5rem

@media (min-width: 768px)
  .p-project-sections
    margin-bottom: 3rem
    .row
      display: flex
      flex-wrap: wrap
      .col-sm-12
        box-sizing: border-box
        flex: 1 0 auto
  /*.p-project-sections .row .col-sm-6 {
   *    box-sizing: border-box;
   *    flex: 0.5 0 auto;
   *}
   *.p-project-sections .row .col-sm-6:last-child {
   *    flex: 1 0 auto;
   *}
  .p-project-section
    .p-project-section-body, &.p-project-section__video.col-sm-6
      display: flex
      flex-direction: column
      justify-content: center
      flex: 1 0 auto
    &.p-project-section__video.col-sm-12
      .p-project-section-body
        display: block
    &.p-project-section__video.__fs
      position: fixed
      top: 0
      left: 0
      width: 100%
      height: 100%
      padding: 0

    .p-project-section-body .p-project-section-body-wrapper
      flex: 1 0 auto
    .v-btn-play-big .v-btn-play
      margin-left: -4rem
      margin-top: -5rem
      border-width: 5rem 0 5rem 8rem
  .p-projects-intro
    padding: 32rem 0 19rem
    p
      font-size: 3.4rem
      line-height: 5.65rem
      max-width: 60rem
  .p-projects-filter
    background: transparent
    position: relative
    margin: 6.3rem 0 5.8rem
  .p-projects-filter-groups
    padding-left: 20rem
    li
      &.__all
        display: inline-block !important
        position: absolute
        left: 0
        padding-left: 0
        &.__mobile
          display: none !important
      list-style: none
      margin: 0
      padding: 0 4rem 10px 4rem
      display: inline-block
      font-size: 2.35rem
      height: 5rem
      line-height: 5rem
      vertical-align: middle
      box-sizing: content-box
    &.collapse-xs li
      display: inline-block
      a
        &:before, &:after
          display: none
    li
      &:first-child
        padding-left: 0
      &:last-child
        padding-right: 0
      a
        padding-left: 0
        color: #9d9d9d
        text-transform: lowercase
        display: inline-block
      &.active a
        font-weight: 700
        color: #000
      a
        &:hover, &:active, &:focus
          color: #000
      &.__all a
        color: #000
        font-size: 1.7rem
        text-transform: uppercase
  .p-projects .b-projects
    margin-top: 0

//@media (min-width: 1049px)
  .p-project-next
    &.__anim
      padding-top: 102px !important
      //top: 102px

@media (min-width: 1281px)
  .p-projects-intro p
    font-size: 4.4rem
    line-height: 6.4rem
    max-width: 80rem

  //.p-project-next
    &.__anim
      padding-top: 112px !important
      //top: 112px

@media (min-width: 1401px)
  .p-projects-intro p
    font-size: 6rem
    line-height: 8rem
    max-width: 105rem

//@media (min-width: 1441px)
  .p-project-next
    &.__anim
      padding-top: 117px !important
      //top: 117px

//@media (min-width: 1701px)
  .p-project-next
    &.__anim
      padding-top: 143px !important
      //top: 143px

.p-service-intro
  will-change: transform
  transition: min-height .5s
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  width: 100%
  //height: 100vh
  min-height: 100vh
  //padding: 12rem 0 8rem
  text-align: left
  background: #0000fe
  color: #fff
  position: relative

  > .container
    //min-height: 35vh
    min-height: 16vh
    flex: 1 0 auto
    display: flex
    align-items: center
    justify-content: flex-start
    flex-direction: row
    position: relative

    > .row
      flex: 1 0 auto
      min-width: 100%
      max-width: 115%

.p-service-intro-viewport
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  position: relative
  width: 100%
  height: 100vh
  padding: 100px 0

  .p-service-intro-tags
    min-height: 0

  .p-service-intro-body
    height: auto !important
    margin: 0 0 9.8rem
    min-height: 0
    flex: 0 0 auto

.p-service-intro-body
  min-height: 35vh
  flex: 1 0 auto
  display: flex
  align-items: center
  justify-content: flex-start
  flex-direction: row
  position: relative
  > .row
    width: 100%

.p-service-title
  font-size: 30px
  line-height: 50px
  font-weight: normal
  margin-bottom: 1rem
  span
    display: block
    overflow: hidden
    height: 50px
    line-height: 50px
    animation-name: text_bottom2top
    animation-duration: 0.9s
    animation-timing-function: ease-out
    animation-iteration-count: 1
    animation-fill-mode: forwards
    animation-direction: normal

.p-service-descr
  margin: 8vh 0 0
  font-size: 16px
  line-height: 36px
  p
    font-size: 2.5rem
    line-height: 5.7rem
    margin-bottom: 2.8rem
    &:last-child
      margin-bottom: 0
      padding-bottom: 0

#service-section
  position: relative
  z-index: 1

.p-service-sections
  padding: 0
  list-style: none
  margin: 5.8rem 0
  .p-service-section
    list-style: none
    position: relative
    margin-bottom: 4.6rem

  //&.__single .p-service-section

.p-service-section-title
  font-size: 3.4rem
  line-height: 4.8rem
  font-weight: 700
  margin-bottom: 3.9rem

.p-service-section-content
  font-size: 2.35rem
  line-height: 4rem
  margin-bottom: 3rem
  p, ul, ol
    font-size: 2.35rem
    line-height: 4rem
    margin-bottom: 3rem
  margin-bottom: 0
  padding-bottom: 0
  p:last-child, ul:last-child, ol:last-child
    margin-bottom: 0
    padding-bottom: 0
  ul, ol
    padding: 0
    margin: 0 0 30px
    counter-reset: items
    list-style: none
  ul li, ol li
    list-style: none
    position: relative
    counter-increment: items
    margin-bottom: 4vh
  ul li
    strong, b
      font-size: 15px
  ol li
    strong, b
      font-size: 15px

.p-service-projects
  margin-bottom: 5.5vh
  .line-heading
    margin: 50px 0

@media (min-width: 768px)
  //.p-service-intro
    padding: 15rem 0 15rem
  .p-service-title
    font-size: 10rem
    line-height: 11rem
    margin-bottom: 4rem
    span
      height: 11rem
      line-height: 11rem
  .p-service-descr
    margin: 19.5rem 0 13.5rem
    p
      font-size: 3.43rem
      line-height: 5.3rem
      max-width: 68%
      margin-bottom: 5rem
  .p-service-sections
    padding: 0
    margin: 12.5rem 0
    counter-reset: items
    list-style: none
    .p-service-section
      list-style: none
      position: relative
      margin-left: 8.6rem
      padding-top: 4.3rem
      margin-bottom: 11.9rem
      counter-increment: items
      width: 68%
    &.__single .p-service-section .p-service-section-content
      ul, ol
        margin-top: 6.7rem
    .p-service-section:before
      content: "0" counter(items)
      display: block
      position: absolute
      margin: 0
      padding: 0
      left: -8.8rem
      top: 6.8rem
      color: #0000fe
      font-size: 2.5rem
      line-height: 2.5rem
      font-weight: 700
      letter-spacing: 1rem
    &.__single .p-service-section:before
      content: ''
      display: none
  .p-service-section-title
    font-size: 3.98rem
    line-height: 6rem
    font-weight: 700
    margin-bottom: 3.4rem
  .p-service-section-content
    font-size: 2.28rem
    line-height: 5rem
    margin-bottom: 3.4rem
    p, ul, ol
      font-size: 2.28rem
      line-height: 5rem
      margin-bottom: 3.4rem
    margin-bottom: 0
    padding-bottom: 0
    p:last-child, ul:last-child, ol:last-child
      margin-bottom: 0
      padding-bottom: 0
    p
      strong, b
        font-size: 2.6rem
        line-height: 5.2rem
    ul, ol
      padding: 0
      margin: 0 0 30px
      counter-reset: items
      list-style: none
    ul li, ol li
      list-style: none
      position: relative
      counter-increment: items
      margin-bottom: 6.5rem
    ul li
      strong, b
        font-size: 2.6rem
    ol li
      strong, b
        font-size: 2.6rem
    ul li:before, ol li:before
      content: "0" counter(items)
      display: block
      position: absolute
      margin: 0
      padding: 0
      left: -8.6rem
      top: 1.4rem
      color: #0000fe
      font-size: 2.5rem
      line-height: 2.5rem
      font-weight: 700
      letter-spacing: 1rem
  .p-service-projects
    margin-bottom: 23rem
    .line-heading
      margin: 19.5rem 0 12.8rem

.p-contacts
  background: #0000fe

  .viewport_height &
    height: 100%
    min-height: 100%

.p-contacts-intro
  display: flex
  flex-direction: column
  align-items: flex-end
  justify-content: flex-end
  width: 100%
  height: 100vh
  min-height: 100vh
  padding: 12rem 0 7.4rem
  text-align: left
  background: #0000fe
  color: #fff
  position: relative

  .viewport_height &
    height: 100%
    min-height: 100%

  &:before
    content: ''
    position: absolute
    top: 100%
    right: 0
    left: 0
    height: 150px
    background: inherit

  .communication
    font-size: 3.12rem
    line-height: 6.5rem
    margin-bottom: 11rem
    text-transform: uppercase
    font-weight: 700
  .email, .phone
    overflow: hidden
  .email span, .phone span
    display: block
    height: 6.5rem
    animation-name: text_bottom2top
    animation-duration: 0.5s
    animation-timing-function: ease-out
    animation-iteration-count: 1
    animation-fill-mode: forwards
    animation-direction: normal
  .addr p
    font-size: 2.35rem
    line-height: 4rem
    margin: 0
    padding: 0

@media (min-width: 768px)
  .p-contacts-intro
    padding: 18rem 0 13.5rem
    .communication
      font-size: 5.15rem
      line-height: 8.7rem
      margin-bottom: 18rem
      text-transform: uppercase
      font-weight: 700
    .email span, .phone span
      display: block
      height: 8.7rem
    .addr p
      font-size: 2.15rem
      line-height: 3.5rem
      margin: 0
      padding: 0

/*
 *.brand-heading {
 *    line-height: 90px;
 *}
 *.intro .intro-body .brand-heading span {
 *    display: block;
 *    height: 90px;
 *    line-height: 90px;
 *    overflow: hidden;
 *    padding-top: 90px;
 *    opacity: 0;
 *
 *    animation-name: brand-heading;
 *    animation-duration: 0.68s;
 *    animation-timing-function: ease-out;
 *    animation-iteration-count: 1;
 *    animation-delay: 0.1s;
 *    animation-fill-mode: forwards;
 *    animation-direction: normal;
 *}
 *@keyframes brand-heading {
 *    0% {
 *        padding-top: 90px;
 *        opacity: 0;
 *    }
 *    100% {
 *        padding-top: 0;
 *        opacity: 1;
 *    }
 *}
 *@keyframes test-anim-out {
 *    0% {
 *        padding-top: 0;
 *        opacity: 1;
 *    }
 *    100% {
 *        padding-top: 90px;
 *        opacity: 0;
 *    }
 *}

@import sass/_keyframes
