

@font-face {
  font-family: 'Brutal Type';
  src: url('/css/site/font2/BrutalType.eot?#iefix') format('embedded-opentype'),  url('/css/site/font2/BrutalType.otf')  format('opentype'),
	     url('/css/site/font2/BrutalType.woff') format('woff'), url('/css/site/font2/BrutalType.ttf')  format('truetype'), url('/css/site/font2/BrutalType.svg#BrutalType') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brutal Type';
  src: url('/css/site/font2/BrutalType-Bold.eot?#iefix') format('embedded-opentype'),  url('/css/site/font2/BrutalType-Bold.otf')  format('opentype'),
	     url('/css/site/font2/BrutalType-Bold.woff') format('woff'), url('/css/site/font2/BrutalType-Bold.ttf')  format('truetype'), url('/css/site/font2/BrutalType-Bold.svg#BrutalType-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Brutal Type';
  src: url('/css/site/font2/BrutalType-Light.eot?#iefix') format('embedded-opentype'),  url('/css/site/font2/BrutalType-Light.otf')  format('opentype'),
	     url('/css/site/font2/BrutalType-Light.woff') format('woff'), url('/css/site/font2/BrutalType-Light.ttf')  format('truetype'), url('/css/site/font2/BrutalType-Light.svg#BrutalType-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
